[submodule "Orca/Libraries/JSONKit"]
	path = Orca/Libraries/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "Orca/Controls/SVProgressHUD"]
	path = Orca/Controls/SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
[submodule "Orca/Libraries/SFHFiPhone"]
	path = Orca/Libraries/SFHFiPhone
	url = git://github.com/ldandersen/scifihifi-iphone.git